.courses-container {
  width: 350px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.course-item2 {
  margin-bottom: 25px;
}

.course-content2 {
  display: flex;
  align-items: center;
}

.course-logo2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: white;
  font-weight: bold;
}

.course-details2 {
  flex-grow: 1;
}

.course-header2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.course-title2 {
  font-weight: 500;
}

.course-progress2 {
  font-weight: bold;
}

.progress-container2 {
  display: flex;
  align-items: center;
}

.progress-bar {
  flex-grow: 1;
  height: 6px;
  width: 200px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
}

.progress-bar-fill2 {
  height: 100%;
  border-radius: 3px;
}

.course-completion2 {
  font-weight: bold;
}