.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(249, 214, 214);
}

/* Sidebar على اليسار */
.dashboard-container > *:first-child {
  width: 220px;
  min-height: 100vh;
}

/* باقي المحتوى */
.dashboard-grid {
  flex: 1;
  display: grid;
  gap: 20px;
  padding: 25px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}

/* كل عنصر */
.grid-item {
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* توزيع معين حسب اللي انتي بدك */
.tasks {
  grid-column: 1 / 3;
}

.points {
  grid-column: 1 / 2;
}

.leaderboard {
  grid-column: 2 / 4;
}

.clock {
  grid-column: 1 / 2;
}

.courses {
  grid-column: 2 / 3;
}

.awards {
  grid-column: 3 / 4;
}
